<html>
<head>
    <title>Clear Sky</title>
</head>
<body class="page--error">
    <div class="error">
        <h1 class="error__header">Something went wrong.</h1>
        <p class="error__message">{{error}}</p>
        {{>footer}}
    </div>
</body>
</html>