<form action="/search" method="get" class="search__form">
    <div class="search__input-container">
        <input type="text" id="query" name="query" placeholder="Enter a location" class="search__input" autocomplete="off" value="{{query}}"/>
        <input type="submit" value="Search" class="search__submit"/>
    </div>
</form>