<html>
{{#html}}
    <head>
        {{#head}}
            {{title}}
        {{/head}}
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/stylesheets/reset.css"/>
        <link rel="stylesheet" href="/stylesheets/main.css"/>
    </head>
    <body>
        <div id="clear-sky" class="clear-sky">
            {{#body}}
                {{_}}
            {{/body}}
        </div>
    </body>
{{/html}}
</html>